<!doctype html>
<html lang="ru">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <style>
                body {
                 background: #FFC817; /* Цвет фона */
                 color: #8c4600; /* Цвет текста */
                }
        </style>
        <title>Добавить объявление</title>
    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class="col-4">
                    {% with messages=get_flashed_messages() %}
                        {% if messages %}
                            <div class ="alert alert-warning" role="alert">
                                {% for message in messages %}
                                    {{ message }} <br>
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endwith %}
                </div>
                <div class="col-8"> <!--5-1? 3:26 Не работает так же, как там-->
                    <h2>LДобавьте объявление:</h2>
                    <form action="{{url_for('announcement_process')}}" method="POST">
                        {{form.hidden_tag()}}
                        <div class="form-group">
                            {{form.type_id.label}} <br>
                            {{form.type_id()}}
                        <div class="form-group">
                            {{form.head.label}} <br>
                            {{form.head()}}
                        </div>
                        <div class="form-group">
                            {{form.tool.label}} <br>
                            {{form.tool()}}
                        </div>
                        <div class="form-group">
                            {{form.text.label}} <br>
                            {{form.text()}}
                        </div>
                        <div class="form-group">
                            {{form.price.label}} <br>
                            {{form.price()}}
                        </div>
<!--                        <div class="Form-group"> <!--form-check - for checkbox
                            {{form.gender()}}
                            {{form.gender.label()}}
                        </div>                  -->
                            {{form.submit()}}
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>