<!doctype html>
<html lang="ru">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <style>
                body {
                 background: #FFC817; /* Цвет фона */
                 color: #8c4600; /* Цвет текста */
                }
        </style>
        <title>По-соседски</title>
    </head>

    <body>
        {% include 'topmenu.html' %}
        <div class="container">
            <div class="row">
                <div class="col-4">
 <!--                   {% include 'leftmenu.html' %}-->
                </div>
                <div class="col-8"> <!--5-1? 3:26 Не работает так же, как там-->
                    {% with messages=get_flashed_messages() %}
                    {% if messages %}
                        <div class ="alert alert-warning" role="alert">
                            {% for message in messages %}
                                {{ message }} <br>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% endwith %}
                    
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>