<!doctype html>
<html lang="ru">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <style>
                body {
                 background: #FFC817; /* Цвет фона */
                 color: #8c4600; /* Цвет текста */
                }
               </style>
        <title>Вход</title>
    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class="col-4"></div>
                <div class="col-8">
                    <h2>Кто Вы?</h2>
                    <form action="" method="POST">
                        {{form.hidden_tag()}}
                        <p>
                            {{form.login.label}} <br>
                            {{form.login()}}
                        </p>
                        <p>
                            {{form.password.label}} <br>
                            {{form.password()}}
                        </p>
                        <p>
                            {{form.submit()}}
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>