{% extends "base.html" %}
{% block content %}
    <h2>Кто Вы?</h2>
    <form action="{{url_for('process_login')}}" method="POST">
        {{form.hidden_tag()}}
        <div class="form-group">
            {{form.email.label}} <br>
            {{form.email()}}
        </div>
        <div class="form-group">
            {{form.password.label}} <br>
            {{form.password()}}
        </div>
        <div class="Form-group form-check"> <!--form-check - for checkbox-->
            {{form.remember()}}
            {{form.remember.label(class_='form-check-label')}}
        </div>                  
            {{form.submit()}}
    </form>
{% endblock %}