{% extends "base.html" %}
{% block content %}

<html>
    <head>
        <title>Поможешь по-соседски?</title>
    </head>
    <body bgcolor="#FFC817">
        <h1><font color="8С4600">Добро пожаловать!</font></h1>
        <p>Это сервис, который поможет тебе найти соседей, у кого можно на время позаимствовать что-нибудь из бытовой техники.</p>
        <p>Ты новый пользователь? Зарегистрируйся <a href="/registration">здесь</a></p>
        <p>Ты уже местный? Тогда авторизуйся <a href="/login">здесь.</a></p>
    </body>
</html>


<!-- сюда надо еще вставить показ сообщений пользователю, 
    но код ссылается на шаблоны bootstrap, 
    поэтому текст ниже, а потом переделаем
                    {% with messages=get_flashed_messages() %}
                        {% if messages %}
                            <div class ="alert alert-warning" role="alert">
                                {% for message in messages %}
                                    {{ message }} <br>
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endwith %}
                 -->
{% endblock %}